.custom-label{
    white-space: nowrap;
}

.label-div{
    display: inline-block;
}

.confidence-score-red{
    white-space: nowrap;
    color: red;
    font-weight: 600;
}

.confidence-score-green{
    white-space: nowrap;
    color: greenyellow;
    font-weight: 600;
}