:host .slds-card__body {
    margin-top: 0px !important;
}
.slds-card__header{
    padding-top: 0 !important;
    background: rgb(243, 243, 243);
    margin-bottom: 2px;
}
.blue-icon svg{
    fill : #8466c5;
}