.feedback-for-interaction-with-agent-container{
    padding: 15px;
}
.feeback-heading{
    margin-bottom: 10px; 
    font-weight: bold;
}
.feedback-input{
    margin-top: 12px;
}
.feedback-btn-container{
    margin-top: 20px;
}