.imgStyle,
.slctdImgStyle {
	min-width: 22px;
	height: 22px;
}

.slctdImgStyle {
	margin-top: -11px;
}

.slds-combobox-group[data-field-wrap-list="0"] .slds-combobox_container.slds-combobox-addon_end input,
.slds-combobox-group[data-field-wrap-list="1"] .slds-combobox_container.slds-combobox-addon_end input {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.slds-combobox-group[data-field-wrap-list="0"] .slds-combobox_object-switcher,
.slds-combobox-group[data-field-wrap-list="1"] .slds-combobox_object-switcher {
	display: none;
}