.scrollable-card {
	height: 100%; /* Fill the container's height */
    overflow-y: auto;
}
.avator-icon{
    font-weight: bold;
}
.content li:last-child {
	margin-bottom: 20px;
}
.content {
	padding-bottom: 70px; /* Height of sticky-footer */
	height: auto !important;
}
.sticky-footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 70px;
	background-color: #f4f4f3 !important;
	padding: 10px;
}
.feedback-submit-error{
    display: inline-block; 
    color: red; 
    margin-top: 7px;
}