.visibleLines {
    --slds-c-textarea-sizing-max-height: var(--rta-visiblelines);
}
.emailStyling {
    border: none; padding: 5px; width: 100%; background-color: #FFFFFF; color: #000000;
     font-size: 12pt; font-family: Arial, sans-serif; padding-bottom: 20px; height: auto;overflow-wrap: break-word;
}