.pointer {
    cursor: pointer;
}

.buttonStyle{
    margin-right:10px;
}
.title-shadow{  
    border: 1px solid #DCDCDC;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.10);
    border-radius: 0.25rem;
}

.emptyfield{
    background: rgb(232, 240, 254);
}

.show-case-fields {
    display: '';
}

.hide {
    display: none;
}

.record-form {
    width: 100%;
    margin-left: -1%;
    padding-right: 1%;
    margin-bottom: -0%;
}