.quote-body{
    background-color: #fafaf9;
    font-weight: 300;
    padding: 1rem;
    margin: 0 0 1.5rem;
    border: 1px solid #e5e5e5;
    border-left-width: .125rem;
}

.quote-c{
    border-left-color: #00396b;
}