.feedback-rating-container{
    margin-top: 5px; 
    width: 250px;
}
.select-any-rating-warning{
    display: none; 
    color: red;
}
.feedback-txt-area{
    margin-right: 5px; 
    margin-top: -4px;
}
.feedback-submit-btn{
    margin-top: 10px; 
    display: inline-flex !important;
}