.refresh-button {
	margin-bottom: 10px;
}
.message {
	padding: 0.5rem;
	background: #9599a1;
}
.text-font {
	font-weight: bold;
}
.loader {
	position: relative;
	z-index: 999;
}
.text-heading{
	padding: 0.5rem; 
	background: #9599a1;
}

.text-sub-heading{
	padding: 0.5rem; 
	background: hsl(41, 78%, 73%);
	font-weight: bold;
}
.tableHeight{
	height: 300px;
}