.THIS.hidden {
    visibility: hidden;
}


.THIS .slds-lookup__result-text {
	color: rgb(8, 7, 7);
    text-decoration: none;
}

.THIS .slds-scope input {
    width: 100%;
}

.THIS.slds-scope input {
    width: 100%;
}

.THIS .forceSearchInputLookupDesktop {
    width: 100%;
}