.whiteBackground {
	background: white;
}

.custom-container {
	border: 1px solid #dddbda;
	border-radius: 0.25rem;
}

.custom-docked-composer__footer {
	display: flex;
	/* justify-content: center; */
	padding: var(--lwc-spacingXSmall, 0.5rem) 0;
	position: sticky;
	bottom: 0;
	/* left: 0; */
	width: 100%;
	background: rgb(243, 242, 242);
	box-shadow: 0 -2px 2px 0 rgba(0, 0, 0, 0.16);
	z-index: 1;
}