.pointer-cursor{
    cursor: pointer;
}

.table-header{
    padding: 0.5rem; 
    background: #9599a1;
}

.pod-table-height{
    max-height: 200px;
}

.bold-font{
    font-weight: bold;
}

.spinner{
    position: relative;
    z-index: 999;
}

.align-right{
    text-align: right !important;
}