.scrollxClass {
	overflow-x: auto;
}

.displayInlineClass {
	display: inline-block;
}

.spinner {
	position: relative;
	z-index: 9999 !important;
}

.slds-modal {
	z-index: 500 !important;
}

.slds-backdrop {
	z-index: 400 !important;
}

.pointer-cursor {
	cursor: pointer;
}

.table-header {
	padding: 0.5rem;
	background: #9599a1;
}

.bold-font {
	font-weight: bold;
}

.textAlignRight {
	text-align: right;
}

.slds-modal__content {
	height: 75% !important;
}

.dynamicSizeClass {
	height: 580px;
}

/* On screens that are 800px high or less, the height is 330px */
@media screen and (max-height: 900px) {
	.dynamicSizeClass {
		height: 330px;
	}
}

.fixedWidthDiv {
	width: 100px;
}

.show-error {
	background: #ff0000;
}