.THIS.popClass::before {
    content: '';
    position: absolute;
    border-radius: 50%;
    width: 500%;
    height: 500%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index:-1;
    border:1px solid green; /* for demo purposes */
    
  }
  
  .THIS .slds-pill__remove {
    display: none !important;
  }
  
  .THIS .test-font {
    color: black;
    font-size: 16px;
  }
  
  
  .THIS .test-font:hover {
    color: rgb(0, 109, 204);
    font-size: 16px;
  }
       
  .THIS.test-header {  
    border: 1px solid #DCDCDC;
  
  }

  .THIS .div-view {
    padding-right: 10px;
    padding-top: 3px;
  }