.THIS .test-font {
    color: black;
    font-size: 16px;
}

.THIS .test-font:hover {
    color: rgb(0, 109, 204);
    font-size: 16px;
}

.THIS.test-header {  
	border: 1px solid #DCDCDC;
}

.THIS.div-padding-right{
    padding-right: 10px;
}