th {
    text-align:center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10;
}

.headerfixed{

    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10;
}

.slds-modal__content{
    
    width: 370px;
}
.slds-modal__header {
    width: 370px;
}

.slds-button_icon {
    display: none !important;
}

.hover-area {
    cursor: pointer;
}